# fprime items
logs/
gds_logs/
cmake-build-*
build-artifacts/
build-fprime-*
*-template
*.template.cpp
*.template.hpp

# Misc
/venv/
/fprime-venv/
__pycache__/
*.pyc
/.idea/
/.vscode/
.DS_Store
*.gcov
